<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <p>
            <label for="grade">Grade</label><br>
            <input type="text" id="grade" name="grade"><br>
            <label for="percent">Percentage of mark</label><br>
            <input type="text" id="percent" name="percent">
            <button type="button"> Remove</button>
        </p>
        <p>
            <button type="button">Add</button>
        </p>
    </form>
</body>
</html>